<div class='form-wrapper'>
  <div class='form-container'>
    <form [formGroup]="courseForm">
      <div>
        <p>Title:</p>
        <input [formControl]="titleControl" type='text' name='title' placeholder='Title'>
      </div>
      <div>
        <p>Description:</p>
        <textarea [formControl]="descriptionControl" type='text' name='description' placeholder=''></textarea>
      </div>
      <div>
        <app-creation-date [formControl]="creationControl"></app-creation-date>
      </div>
      <!-- <div>
        <app-duration [formControl]="durationControl"></app-duration>
      </div> -->
      <div class='buttons'>
        <button type='button'(click)='getData()'>Save</button>
        <button type='button'>Cancel</button>
      </div>
    </form>
  </div>
</div>
