<div class="mt-5 alert alert-primary"
     *ngIf="booleanVar"
      >
  <div [border]="courseItem.creationDate" class="row" [ngClass]="{'top-rated':courseItem.topRated}">
    <span *ngIf='courseItem.topRated'>★</span>
    <div  class="col-10">{{courseItem.title }}</div>
    <div class="col-8">{{courseItem.description}}</div>
    <div class="col-2">
      <p>{{courseItem.duration | duration }}</p>
      <p>{{courseItem.creationDate | date:'dd.MM.yyyy'}}
    </div>
    <div class="text-right col-2">
      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <button class="btn btn-success" type="button">Edit</button>
        <button (click)="log(courseItem.id)"class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
