<div class="mt-5 alert alert-primary">
  <div class="row">
    <div class="col-10">{{courseItem.title}}</div>
    <div class="col-8">{{courseItem.description}}</div>
    <div class="col-2">
      <p>{{courseItem.duration}}</p>
      <p>{{courseItem.creationDate}}
    </div>
    <div class="text-right col-2">
      <div class="btn-group-vertical" role="group" aria-label="Basic example">
        <button class="btn btn-success" type="button">Edit</button>
        <button class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
